html {
    background: #fbe8a6;
    text-align: center;
}
h1 {
  font-family: 'Permanent Marker', cursive;
}
article {
    
}
.description {
   width: 50%;
   margin: 0 auto;
   background: #f4976c; 
   border-radius: 15px;
   font-family: 'Indie Flower', cursive;
   padding: 25px;
}
.categories {
    background: #303c6c;
    padding: 50px;
    margin: 50px;
}
table {
    background: #b4dfe5;
    margin: 0 auto;
    width: 100%;
}
th {
    border-bottom: 5px #303c6c solid;
}
td {
    padding: 10px;
}

footer {
  
}